.Modal {
    position: absolute;
    top:20%;
    left: 28%;
    z-index: 500;
    background-color: white;
    width: 40%;
    border: 1px solid black;
    box-sizing: border-box;
    transition: all 0.3s ease-out;

}

.CloseButton {
    width: 50px;
    height: 50px;
    border: solid black 1px;
}

@media (min-width:400px) and (max-width: 899px) {
    .Modal {
        left: 12%;
        width: 75%;
    }
}

@media (max-width: 399px) {
    .Modal {
        left: 5%;
        top:12%;
        width: 90%;
    }
}